/* VARIABILI E LINK */
:root {
  --nero: #141F23;
  --bianco: #FFF;
  --viola: #C886F1;
  --blu: #212E34;
  --bluchiaro: #354651;
  --azzurro: #A2BDC4;
}

@font-face {
  font-family: Synt-Regular;
  src: url(ABCSynt-Regular-Trial.otf);
}

@font-face {
  font-family: Synt-Italic;
  src: url(ABCSynt-Italic-Trial.otf);
}

@font-face {
  font-family: Oracle-Regular;
  src: url(ABCOracle-Regular-Trial.otf);
}

@font-face {
  font-family: Oracle-Italic;
  src: url(ABCOracle-RegularItalic-Trial.otf);
}

@font-face {
  font-family: Oracle-Book;
  src: url(ABCOracle-Book-Trial.otf);
}

@font-face {
  font-family: Oracle-BookItalic;
  src: url(ABCOracle-BookItalic-Trial.otf);
}

@font-face {
  font-family: Oracle-Light;
  src: url(ABCOracle-Light-Trial.otf);
}

@font-face {
  font-family: Oracle-LightItalic;
  src: url(ABCOracle-LightItalic-Trial.otf);
}

/* TIPOGRAFIA */

h1 {
  font-size: 48px;
  line-height: 1.1;
  margin: 0;
  padding: 0;
  font-family: Synt-Regular, serif;
  text-align: center;
}

#titolo {
  padding-top: 144px;
}

#titolo h1 {
  font-size: 84px;
  font-family: Oracle-Regular, serif;
  text-transform: uppercase;
  line-height: 1;
}

#titolo h1 em {
  font-family: Synt-Italic, serif;
  font-style: normal;
  text-transform: none;
}

h2 {
  font-size: 30px;
  line-height: auto;
  margin: 0;
  padding: 0;
  font-family: Synt-Regular, serif;
  text-align: center;
}

p {
  font-size: 18px;
  line-height: auto;
  margin: 0;
  padding: 0;
  font-family: Oracle-Light, serif;
  text-align: center;
  color: #E8EFF0;
}

/* BOTTONE CALL TO ACTION */
.calltoaction {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  color: var(--bianco);
  font-family: Oracle-Book, sans-serif;
  font-size: 20px;
  line-height: 1.1;
  text-transform: uppercase;
}

/* FRECCIA */
.arrow-cont {
  background-color: var(--viola);
  margin: 0;
  padding: 12px;
  border-radius: 200px;
}

.badge {
  margin: 0;
  padding: 6px 12px;
  border-radius: 100px;
  background-color: transparent;
  border: 1px solid var(--bianco);
  font-family: Oracle-Light, sans-serif;
  font-size: 15px;
  line-height: 1.1;
  text-transform: uppercase;
  font-weight: normal;
}

/* LAYOUT */
body {
  background-color: var(--nero);
  color: var(--bianco);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.contenitore {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0 216px;
  gap: 36px;
}

#processo {
  padding: 0 288px;
}

#contattaci {
  background-color: var(--blu);
  padding: 36px 216px;
}

#footer {
  margin-top: 36px;
  font-size: 15px;
  color: var(--azzurro);
}

/* CARD */
#tool-card-cont {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 0;
  padding: 0;
}

.tool-row {
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin: 0;
  padding: 0;
}

.card {
  background-color: var(--blu);
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 0;
  padding: 24px;
  border-radius: 24px;
}

.card h2 {
  color: var(--azzurro);
  text-align: left;
}

.card p {
  color: #E8EFF0;
  text-align: left;
}

/* LIST */
.list {
  background-color: var(--blu);
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 24px;
  margin: 0;
  border-radius: 24px;
}

.list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  padding: 0 0 12px 0;
  margin: 0;
  border-bottom: 2px solid var(--bluchiaro);
}

.list-last {
  padding: 0;
  border: none;
}

.list-number {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--viola);
  height: 40px;
  width: 40px;
  border-radius: 20px;
  font-family: Oracle-Regular, serif;
  font-size: 18px;
}

.list p {
  width: -webkit-fill-available;
  text-align: left;
  color: #E8EFF0;
}

#emmail {
  font-size: 18px;
  line-height: auto;
  margin: 0;
  margin-left: 4px;
  border: none;
  background-color: var(--bluchiaro);
  font-family: Oracle-Light, serif;
  text-transform: none;
  font-weight: normal;
}

/* NAVBAR */
header {
  background: transparent;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  transition: all 300ms ease-in-out;
}

.scroll-down header {
  transform: translate3D(0, -100%, 0);
}

..scroll-up header {
  transform: translate3D(0, -100%, 0);
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inner {
  justify-content: center;
  margin: 0 auto;
}

nav {
  padding: 24px 0;
}

ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 6px;
}

nav li {
  background: #F2F2F2;
  margin: 0;
  padding: 2px 12px;
  border-radius: 100px;
}

#navMail {
  background-color: var(--viola);
}

nav li a {
  font-size: 18px;
  line-height: auto;
  font-family: Oracle-Book, serif;
  text-align: center;
  color: var(--nero);
  text-decoration: none;
}

/* CRUCIVERBA */
.cruciverba {
  width: calc(100vw - 432px);
  height: calc(50vw - 216px);
  border-radius: 24px;
  clip-path: border-box;
}

.cruciverba_img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* NODESKTOP */
.no-desktop {
  display: none;
}

.no-mobile {
  display: block;
}

/*-----------------------------------------------------------------------------------*/
/*	mobile
/*-----------------------------------------------------------------------------------*/
@media only screen and (min-device-width : 100px) and (max-device-width : 560px) {
  .contenitore {
    padding: 0 24px;
  }

  #processo {
    padding: 0 72px;
  }

  #titolo h1 {
    font-size: 50px;
    line-height: 1.1;
  }

  h1 {
    font-size: 30px;
    line-height: auto;
  }

  .tool-row {
    flex-direction: column;
    padding: 0 48px;
  }

  .no-desktop {
    display: block;
  }

  .no-mobile {
    display: none;
  }

  .cruciverba {
    width: calc(100vw - 72px);
    height: calc(100vw - 72px);
  }
}
