@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Inter:wght@300;400&display=swap');

@font-face {
  font-family: ABCGaisyr-Regular;
  src: url(ABCGaisyr-Regular-Trial.otf);
}

@font-face {
  font-family: ABCGaisyr-Italic;
  src: url(ABCGaisyr-RegularItalic-Trial.otf);
}

body {
  padding: 72px;
  margin: 0;
  background-color: #1F1F1F;
  color: #1F1F1F;
  font-family: 'Inter', sans-serif;
}

.navbar {
  margin-top: 24px;
  padding: 0;
}

.navbar .container-fluid {
  margin: 0;
  padding: 0 96px;
  justify-content: flex-end;
    gap: 6px;
}

.navbar button {
  background-color: lightgray;
  border: none;
  display: flex;
  align-items: center;
  height: 48px;
  padding: 0;
  border-radius: 100px;
}

.navbar button:hover {
  background-color: darkgray;
}

.navbar a {
  color: gray;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
}

.navbar a:hover {
  color: red;
}

.navigazione {
  background-color: lightgray;
  height: fit-content;
  height: 48px;
  padding: 0 36px;
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 18px;
}

.block {
  margin-bottom: 36px;
  border-radius: 24px;
  padding: 36px;
}

#home {
  height: calc(100vh - 72px - 72px);
  display: flex;
  flex-direction: row;
  gap: 12px;
}

#titolo {
  background-color: #2D2F31;
  height: -webkit-fill-available;
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#cruciverba {
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  border-radius: 24px;
  clip-path: border-box;
}

.bg-one {
  background-color: #444746;
  color: white;
}

.bg-transparent {
  color: white;
  width: -webkit-fill-available;
}

.cont {
  margin: 0;
  display: flex;
  gap: 48px;
}

#about {
  padding: 0;
  margin-bottom: 36px;
  justify-content: space-between;
  align-items: flex-start;
}

h1 {
  font-size: 48px;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  font-family: ABCGaisyr-Regular, serif;
}

h1 span {
  font-family: ABCGaisyr-Italic, serif;
}

h2 {
  margin: 0 0 24px 0;
  padding: 0;
  font-family: ABCGaisyr-Regular, serif;
}

p {
  margin: 0;
  padding: 0;
}

.accordion {
  padding: 0;
  margin: 0;
  border-radius: 24px;
  height: fit-content;
  /* background-color: transparent; */
  background-color: #2D2F31;
  border: 2px solid;
  border-color: #444746;
  clip-path: border-box;
  width: -webkit-fill-available;
}

.accordion-item {
  background-color: transparent;
  border: 2px solid;
  border-color: #444746;
}

.accordion-button {
  background-color: transparent;
  color: #C4C7C5 !important;

  margin: 0;
  padding: 24px;
}

.accordion-body {
  /* color: #C4C7C5; */
  padding: 24px;
  padding-right: 72px;
  padding-top: 0;
  font-size: 24px;
  font-family: 'Inter', sans-serif;
}

ol {
  padding: 0;
  margin: 0;
  list-style-position: inside;
}

li {
  padding-top: 14.4px;
}

.accordion-collapse {
  color: white;
  background-color: #444746;
}

.accordion-button:focus {
    z-index: 3;
    border-color: var(--bs-accordion-btn-focus-border-color);
    outline: 0;
    box-shadow: var(--bs-accordion-btn-focus-box-shadow);
}

.accordion-button:not(.collapsed) {
  background-color: #444746;
  box-shadow: none;
}

.accordion-button:hover {
  background-color: #444746;
}

/* .accordion-button::after {
  color: white;
} */

.common-button {
  height: fit-content;
  background-color: #C4BC18;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  padding: 18px 36px;
  border-radius: 100px;
  margin: 0;
  border: none;

  -webkit-transition: background-color 0.3s;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.common-button:hover {
  background-color: #9AC418;
  transition-duration: 0.3s;
}

#calltoaction {
  justify-content: space-between;
  align-items: flex-start;
}

button {
  font-size: 24px !important;
  font-family: 'Inter', sans-serif;
}

#footer p {
  font-size: 16px;
}

#footer {
  display: flex;
  flex-direction: row;
  gap: 36px;
  /* justify-content: space-between; */
  align-items: flex-end;
  margin-top: 18px;
}

/*-----------------------------------------------------------------------------------*/
/*	mobile
/*-----------------------------------------------------------------------------------*/
@media only screen and (min-device-width : 100px) and (max-device-width : 560px) {
  body {
    padding: 24px;
  }

  #home {
    flex-direction: column-reverse;
    height: fit-content;
    grid-gap: 24px;
  }

  #cruciverba {
    height: calc(100vw - 48px);
  }

  #titolo {
    width: -webkit-fill-available;
    height: fit-content;
  }

  .cont {
    flex-direction: column;
    gap: 24px;
  }

  .block {
    margin-bottom: 24px;
  }

}
